<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <app-navbar-lateral></app-navbar-lateral>
        </div>
        <div class="col-md-9">
            <div class="container">
                <div class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Unidad" [(ngModel)]="sigla"
                        aria-label="Search">
                    <button class="btn btn-outline-success" (click)="buscarUnidad();">Search</button>
                </div>
                <div *ngIf="this.vista==true">
                    <p>CONSECUTIVO: {{respuestaUnidad.CONSECUTIVO}}</p>
                    <p>SIGLA: {{respuestaUnidad.SIGLA}}</p>
                    <p>DESCRIPCION DEPENDENCIA: {{respuestaUnidad.DESCRIPCION_DEPENDENCIA}}</p>
                    <p>CONSECUTIVO: {{respuestaUnidad.UNDE_CONSECUTIVO}}</p>
                    <p>FUERZA: {{respuestaUnidad.UNDE_FUERZA}}</p>
                    <p>ID_SIGLA: {{respuestaUnidad.ID_SIGLA}}</p>
                </div>
            </div>
        </div>
    </div>
</div>