<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <app-navbar-lateral></app-navbar-lateral>
    </div>
    <div class="col-md-9">
      <div class="container" *ngIf="vista==1">
        <p>Cedula: {{sesion.IDENTIFICACION}}</p>
        <p>Nombres: {{sesion.NOMBRES}} {{sesion.APELLIDOS}}</p>
        <p>Fecha de nacimiento: {{sesion.FECHA_NACIMIENTO.slice(0,10)}}</p>
        <p>Telefono: {{sesion.TELEFONO}}</p>
        <p>{{disabledButton}}</p>

      </div>

      <div class="container" *ngIf="vista==2">
        <p>Linea unidad: {{sesion.LineaUnidadMilitar}}</p>
        <p>Descripción unidad:
          {{sesion.ListaUnidadMilitar[0].DataBeanProperties.DESCRIPCION_DEPENDENCIA}}/{{sesion.ListaUnidadMilitar[1].DataBeanProperties.DESCRIPCION_DEPENDENCIA}}
        </p>
        <p>Grado: {{sesion.GRAD_ALFABETICO}}</p>

      </div>

      <div class="container" *ngIf="vista==3">
        <p>Grado: {{sesion.GRAD_ALFABETICO}}</p>
        <p>{{disabledButton}}</p>
      </div>
    </div>
  </div>
</div>

<!-- <p>{{this.sesion | json}}</p> -->


<!-- <button class="btn btn-danger">Cancelar</button> -->