<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <app-navbar-lateral></app-navbar-lateral>
    </div>
    <div class="col-md-9">
      <div class="container mb-5" *ngIf="vista==1">
        <p>Cedula: {{sesion.IDENTIFICACION}}</p>
        <p>Nombres: {{sesion.NOMBRES}} {{sesion.APELLIDOS}}</p>
        <p>Fecha de nacimiento: {{sesion.FECHA_NACIMIENTO.slice(0,10)}}</p>
        <p>Telefono: {{sesion.TELEFONO}}</p>
        <p>{{disabledButton}}</p>

      </div>
      <div class="container">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
          Crear nuevo mensaje
        </button>
      </div>
      <div class="container mb-5">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>ID</th>
              <th>Mensaje</th>
              <th>acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of listaMensajes">
              <td>{{item.DataBeanProperties.IDMensajes}}</td>
              <td>{{item.DataBeanProperties.Mensajes}}</td>
              <td>
                <button type="button" class="btn btn-danger btn-sm m-1" (click)="eliminarMensaje(item.DataBeanProperties)">Eliminar</button>
                <button type="button" class="btn btn-warning btn-sm m-1" data-toggle="modal" data-target="#exampleModal" (click)="editar(item.DataBeanProperties)">Editar</button>

              </td>
            </tr>
          </tbody>
        </table>
      </div>
      
    </div>
  </div>
</div>




<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="mb-3">
            <label for="txtMensaje" class="form-label">Mensaje</label>
            <textarea type="text" class="form-control" id="txtMensaje" [(ngModel)]="beanMensaje.Mensajes"> </textarea>
          </div>
         
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button *ngIf="beanMensaje.IDMensajes==null" type="submit" class="btn btn-primary" (click)="guardarMensaje()">Guardar</button>
        <button *ngIf="beanMensaje.IDMensajes!=null" type="submit" class="btn btn-primary" (click)="guardarMensaje()">Editar</button>
      </div>
    </div>
  </div>
</div>
<!-- <p>{{this.sesion | json}}</p> -->


<!-- <button class="btn btn-danger">Cancelar</button> -->