<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <app-navbar-lateral></app-navbar-lateral>
    </div>
    <div class="col-md-9">
      <div class="container" *ngIf="vista==1">
        <p>Cedula: {{sesion.IDENTIFICACION}}</p>
        <p>Nombres: {{sesion.NOMBRES}} {{sesion.APELLIDOS}}</p>
        <p>Fecha de nacimiento: {{sesion.FECHA_NACIMIENTO.slice(0,10)}}</p>
        <p>Telefono: {{sesion.TELEFONO}}</p>
        <p>{{disabledButton}}</p>

      </div>

      <div class="container">
        <table>
          <thead>
            <tr>
              <th>ID</th>
              <th>Mensaje</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of listaMensajes">
              <td>{{item.DataBeanProperties.IDMensajes}}</td>
              <td>{{item.DataBeanProperties.Mensajes}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- <div class="container">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Mensaje</label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div> -->
    </div>
  </div>
</div>

<!-- <p>{{this.sesion | json}}</p> -->


<!-- <button class="btn btn-danger">Cancelar</button> -->